.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

body {
    margin: 0;
    background-color: rgb(4, 13, 38);
    z-index: 1;
}

.svg-container {
    position: absolute;
    width: 100%; 
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
}
.resume-container{
    width: 75%;
    max-width: 950px;
    background-color: #efefef;
    border-radius: .5em;
    margin: auto;
    z-index: 2;
}

.resume-content {
    z-index: 2;
}

.header img {
    border-radius: 100em;
    width: 4em;
    height: 4em;
}
.header h1 {
    margin-left: .5em;
}

.section-stuff span {
    font-style: italic;
}

.section-stuff {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}


.project-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project-section div {
    min-width: 350px;
    max-width: 500px;
    border: 1px solid black;
    margin: 1em;
    padding: .5em;
}

.project {
    background-color: white;
}